.search {
	opacity: 0.85;
	border-radius: 25px;
	border: 1px solid var(--black);
	width: 400px;
	height: 30px;
	padding-left: 10px;
}

.searchContainer {
	display: flex;
	column-gap: 5px;
}

.btn {
	opacity: 0.85;
	border: 1px solid var(--black);
	border-radius: 25px;
	font-size: 0.8rem;
	height: 30px;
	align-self: center;
}

.btn:hover,
.btn:focus {
	transform: scale(1.1);
}

.searchSelect {
	opacity: 0.85;
	align-self: center;
	border: 1px solid var(--black);
	border-radius: 5px;
	height: 30px;
}
